@if (User.IsInRole("Managers") || User.IsInRole("Administrators"))
{
    <a href="#">Manage</a>
    <ul>
        <li><a asp-action="Index" asp-controller="ManageBakery">Bakeries</a></li>
        <li><a asp-action="Index" asp-controller="ManageOrder">Orders</a></li>
    </ul>
}

