
@if (User.Identity.IsAuthenticated)
{
    <a>Hello @User.Identity.Name</a>
    <ul>
        <li>
            <a asp-action="Logout" asp-controller="Home">Logout</a>
        </li>
    </ul>
        
}
else
{
    <a asp-action="Login" asp-controller="Home">Login</a>
}
